/* Mis mierdas */
#formularioLogin {
	justify-content: flex-end;
}

#zonaAuthCarrito {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

#zonaAuthCarrito #bloqueDesconexion{
	margin-right: 1rem;
}

#icono-carrito a {
	color: rgba(255, 255, 255, 0.5);
}

#icono-carrito a:hover {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

#fila-mensajes{
	padding-top: 1rem;
}

#wrapper-contenido {
	margin-bottom: 1rem;
}

#contenido {
	padding-top: 1rem;	
}

.card.producto {
	margin-bottom: 1.5rem;
}

.card.producto a {
	text-align: center;
}

.card.producto .card-header a{
	color: rgba(255, 255, 255, 1);
}
.card.producto .card-header a:hover{
	text-decoration: none;
}

.card.producto img {
	width: 200px;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.card.producto .card-footer {
	text-align: center;
}
.card-footer .btAniadir{
	cursor: pointer;
	white-space: normal;
}

#footer-dch {
	text-align: right;
}

