/* Mis mierdas */
#formularioLogin {
	justify-content: flex-end;
}

#fila-mensajes{
	padding-top: 1rem;
}

#wrapper-contenido {
	margin-bottom: 1rem;
}

#contenido {
	padding-top: 1rem;	
}

#footer-dch {
	text-align: right;
}

